<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width: 10%">
          MMSI
        </th>
        <th style="width: 30%">
          Source
        </th>
        <th style="width: 20%">
          First seen
        </th>
        <th style="width: 20%">
          Last seen
        </th>
        <th style="width: 10%">
          Messages
        </th>
      </tr>
    </thead>
    <tbody>
      <% sources.each do |source| %>
      <tr>
        <td>
          <%= link_to(
              source.mmsi.to_s,
              source_path(source),
              class: "btn btn-primary",
              target: "_blank",
            ) %>
        </td>
        <td>
          <div>
            <strong>
              <%= source.display_name %>
            </strong>
          </div>
          <div>
            <%= source.country_name %>
            <%= source.country_flag %>
          </div>
        </td>
        <td data-sort="<%= source.created_at.strftime("%y%m%d%H%M") %>">
          <div>
            <%= source.created_at.strftime("%d %B %H:%M") %>
          </div>
          <div>
            <em>
              <%= time_ago_in_words(source.created_at) %>
            </em>
          </div>
        </td>
        <td data-sort="<%= source.updated_at.strftime("%y%m%d%H%M") %>">
          <div>
            <%= source.updated_at.strftime("%d %B %H:%M") %>
          </div>
          <div>
            <em>
              <%= time_ago_in_words(source.updated_at) %>
            </em>
          </div>
        </td>
        <td data-sort="<%= source.messages_count %>">
          <%= source.messages_count %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
