<h4>
  <%= link_to(
    "Live map",
    live_maps_path,
    target: "_blank",
    class: "btn btn-danger",
  ) %>
</h4>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <%= @sources.length %> MMSIs seen
    </h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <input type="text"
        id="search-input"
        class="form-control"
        placeholder="Search..." />
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="searchable-table">
        <thead>
          <tr>
            <th style="width: 10%">
              MMSI
            </th>
            <th style="width: 20%">
              Ship name
            </th>
            <th style="width: 20%">
              Callsign
            </th>
            <th style="width: 10%">
              Flag
            </th>
            <th style="width: 20%">
              First seen
            </th>
            <th style="width: 20%">
              Last seen
            </th>
          </tr>
        </thead>
        <tbody>
          <% @sources.each do |source| %>
            <tr>
              <td>
                <%= link_to(
                  source.mmsi.to_s,
                  source_path(source),
                  class: "btn btn-primary",
                ) %>
              </td>
              <td>
                <%= source.ship_name %>
              </td>
              <td>
                <%= source.callsign %>
              </td>
              <td data-sort="<%= country_code(source.mmsi.to_s) %>">
                <%= country_flag(source.mmsi.to_s) %>
              </td>
              <td data-sort="<%= source.created_at.strftime("%y%m%d%H%M") %>">
                <%= time_ago_in_words(source.created_at) %>
              </td>
              <td data-sort="<%= source.seen_at.strftime("%y%m%d%H%M") %>">
                <%= time_ago_in_words(source.seen_at) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
