<h1>Floatr</h1>

<h4>
  <%= @sources.length %> MMSIs seen
</h4>

<h4>
  <%= link_to(
    "Live map",
    live_maps_path,
    target: "_blank",
    class: "btn btn-danger",
  ) %>
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        MMSI
      </th>
      <th>
        Callsign
      </th>
      <th>
        Ship name
      </th>
      <th>
        Flag
      </th>
      <th>
        First seen
      </th>
      <th>
        Last seen
      </th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |source| %>
    <tr>
      <td>
        <%= link_to(
          source.mmsi.to_s,
          source_path(source),
          class: "btn btn-primary",
        ) %>
      </td>
      <td>
        <%= source.callsign %>
      </td>
      <td>
        <%= source.ship_name %>
      </td>
      <td>
        <%= format_mid(source.mmsi.to_s) %>
      </td>
      <td>
        <%= format_datetime(source.created_at) %>
      </td>
      <td>
        <%= format_datetime(source.seen_at) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
