<h1>Floatr</h1>

<h4><%= @sources.length %> MMSIs seen</h4>

<table border>
  <tr>
    <th>
      MMSI
    </th>
    <th>
      Callsign
    </th>
    <th>
      Ship name
    </th>
    <th>
      First seen
    </th>
    <th>
      Last seen
    </th>
    <th>
      Flag
    </th>
  </tr>
  <% @sources.sort_by(&:created_at).reverse!.each do |source| %>
  <tr>
    <td>
      <%= link_to(
        source.mmsi.to_s,
        source_path(source)
      ) %>
    </td>
    <td>
      <%= source.callsign %>
    </td>
    <td>
      <%= source.ship_name %>
    </td>
    <td>
      <%= time_ago_in_words(source.created_at) %>
    </td>
    <td>
      <%= time_ago_in_words(source.seen_at) %>
    </td>
    <td>
      <%= format_mid(source.mmsi.to_s) %>
    </td>
  </tr>
  <% end %>
</table>
