<div class="card mt-2">
  <div class="card-header">
    <h4>
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>
  <div class="card-body">
    <% @source.ship_name.tap do |ship_name| %>
    <div>
      <h5>
        <%= ship_name %>
      </h5>
    </div>
    <% end %>
    <% @source.callsign.tap do |callsign| %>
    <div>
      <h5>
        <%= callsign %>
      </h5>
    </div>
    <% end %>
    <div>
      <h5>
        <%= country_name(@source.mmsi.to_s) %>
        <%= country_flag(@source.mmsi.to_s) %>
      </h5>
    </div>
    <div>
      <h5>
        <%= @messages.pluck(:category_description).uniq.join(",") %>
      </h5>
    </div>
    <div>
      <%= link_to(
        "Show on MarineTraffic",
        "https://www.marinetraffic.com/en/ais/details/ships/mmsi:#{@source.mmsi}",
        target: "_blank",
        title: "Show on MarineTraffic",
        class: "btn btn-success",
      ) %>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h4>
          Messages received
        </h4>
      </div>
      <div class="card-body">
        <% @messages.group(:type).count.each do |type, total| %>
          <div class="row mt-2">
            <%= parse_message_type(type, total) %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @positions.length > 0 %>
    <% home = Rails.application.credentials.ground_station_lat_lon %>
    <div class="card mt-4">
      <div class="card-header">
        <h4>
          Positions
        </h4>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-12">
            First seen <%= time_ago_in_words(@positions.first.updated_at) %> ago
            <%= miles_away_in_words(@positions.first.lat_lon, home) %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-12">
            <% if @positions.length > 1 %>
            Last seen <%= time_ago_in_words(@positions.last.updated_at) %> ago
            <%= miles_away_in_words(@positions.last.lat_lon, home) %>
            <% end %>
          </div>
        </div>
        <div>
          <%= link_to(
            "Show on map",
            source_heatmaps_path(@source),
            target: "_blank",
            class: "btn btn-danger",
          ) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
