<div class="card mt-2">
  <div class="card-header">
    <h4 class="card-title">
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>

  <div class="card-body">
    <%= render "source_info",
      source: @source
    %>

    <%= render "source_dimensions",
      source: @source
    %>

    <%= render "source_destinations",
      source: @source
    %>

    <%= render "messages/message_info",
      source: @source
    %>

    <%= render "positions/position_info",
      source: @source,
      messages: @messages
    %>
  </div>
</div>
