<div class="card mt-2">
  <div class="card-header">
    <h4 class="card-title">
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>

  <div class="card-body">
    <%= render "source_info",
      source: @source,
      messages: @messages
    %>

    <% if @source.static_data_received %>
      <%= render "source_static_data",
        source: @source
      %>
    <% end %>

    <%= render "messages/message_info",
      messages: @messages
    %>

    <% if @positions.length > 0 %>
      <%= render "positions/position_info",
        source: @source,
        positions: @positions
      %>
    <% end %>
  </div>
</div>
