<div class="card mt-2 text-center">
  <div class="card-header">
    <h2>
      MMSI <%= @source.mmsi.to_s %>
    </h2>
  </div>

  <div class="card-body">
    <h3>
      <%= @source.ship_name %>
    </h3>
    <h3>
      <%= @source.callsign %>
    </h3>
    <h4>
      <%= country_flag(@source.mmsi.to_s) %>
      <%= country_name(@source.mmsi.to_s) %>
    </h4>
    <h4>
      <%= @messages.pluck(:category_description).uniq.join(",") %>
    </h4>
    <%= link_to(
      "Show on MarineTraffic",
      "https://www.marinetraffic.com/en/ais/details/ships/mmsi:#{@source.mmsi}",
      target: "_blank",
      title: "Show on MarineTraffic",
      class: "btn btn-success wide-button",
    ) %>

    <div class="card mt-4">
      <div class="card-header">
        <h4>
          Messages received
        </h4>
      </div>
      <div class="card-body">
        <table class="table table-borderless">
          <tbody>
            <% @messages.group(:type).count.each do |type, total| %>
            <tr>
              <td class="text-center">
                <%= parse_message_type(type) %>
              </td>
              <td class="text-center">
                <%= total %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h4>
          Positions
        </h4>
      </div>
      <div class="card-body">
        <% if @positions.length > 0 %>
        <% home = Rails.application.credentials.ground_station_lat_lon %>

        <div>
          First seen <%= time_ago_in_words(@positions.first.updated_at) %> ago
          <%= miles_away_in_words(@positions.first.lat_lon, home) %>
        </div>

        <% if @positions.length > 1 %>
        <div>
          Last seen <%= time_ago_in_words(@positions.last.updated_at) %> ago
          <%= miles_away_in_words(@positions.last.lat_lon, home) %>
        </div>
        <% end %>

        <div>
          <h1>
            <%= link_to(
            "Show on map",
            source_heatmaps_path(@source),
            target: "_blank",
            class: "btn btn-danger wide-button",
          ) %>
          </h1>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
