<div>
  <h1>
    <%= link_to(
      @source.mmsi,
      "https://www.marinetraffic.com/en/ais/details/ships/mmsi:#{@source.mmsi}",
      target: "_blank",
      title: "Show on MarineTraffic",
    ) %>
  </h1>
</div>

<div>
  <h2>
    <%= @source.ship_name %>
  </h2>
</div>

<div>
  <h3>
    <%= @source.callsign %>
  </h3>
</div>

<div>
  <h4>
    <%= @source.messages.pluck(:category_description).uniq.join(",") %>
  </h4>
</div>

<div>
  <h1>
    <%= link_to("Show map", source_heatmaps_path(@source)) %>
  </h1>
</div>

<hr />

<h2>
  Messages
</h2>

<div>
  <% home = Rails.application.credentials.ground_station_lat_lon %>
  <h4>
    First seen
    <%= time_ago_in_words(@source.messages.first.updated_at) %>
    ago from
    <%= miles_away_in_words(@source.messages.first.lat_lon, home) %>
    miles away
  </h4>

  <h4>
    Last seen
    <%= time_ago_in_words(@source.messages.last.updated_at) %>
    ago from
    <%= miles_away_in_words(@source.messages.last.lat_lon, home) %>
    miles away
  </h4>
</div>

<table border>
  <tr>
    <th>Type</th>
    <th>Received</th>
  </tr>
  <% @source.messages.group(:type).count.each do |key, value| %>
  <tr>
    <td>
      <%= format_message_type(key) %>
    </td>
    <td>
      <%= value %>
    </td>
  </tr>
  <% end %>
</table>
