<h5>
  <%= when_seen %> seen
</h5>

<ul>
  <li>
    <%= message.timestamp_in_words %>
  </li>

  <li>
    <%= message.position.distance_in_words %>
  </li>

  <% message.course.tap do |course| %>
    <li>
      course <%= course.course_over_ground.to_s %>
      (<%= course.to_s %>)
    </li>

    <li>
      speed <%= course.speed_in_words %>
    </li>
  <% end %>
</ul>
