<% home = Rails.application.credentials.ground_station_lat_lon %>
<div class="card mt-4">
  <div class="card-header">
    <h4>
      Positions
    </h4>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5>First seen</h5>
        <div>
          <%= parse_seen(positions.first) %>
          <%= parse_distance(positions.first) %>
        </div>
        <div>
          <%= parse_course(positions.first) %>
          <%= parse_speed(positions.first) %>
        </div>
      </div>
      <div class="col-sm-6">
        <% if positions.length > 1 %>
          <h5>Last seen</h5>
          <div>
            <%= parse_seen(positions.last) %>
            <%= parse_distance(positions.last) %>
          </div>
          <div>
            <%= parse_course(positions.last) %>
            <%= parse_speed(positions.last) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb-2">
    </div>
    <div>
      <%= link_to(
        "Show on map",
        source_heatmaps_path(source),
        target: "_blank",
        class: "btn btn-danger",
      ) %>
    </div>
  </div>
</div>
