<!DOCTYPE html>
<html>

<head>
  <title>Floatr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <%= javascript_pack_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:maps_api_key] %>&libraries=visualization&callback=initMap" async defer data-turbolinks-eval="false"></script>
</head>

<body>
  <div class="container-fluid">
    <h3 class="text-center">
      Floatr
    </h3>
    <%= yield %>
  </div>
</body>

</html>
